modules = ["bash", "postgresql-16", "nodejs-20", "python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start:replit"
waitForPort = 5000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
run = ["node", "serve.cjs"]
build = ["echo", "Build included in source"]

[userenv]

[userenv.development]
APP_URL = "https://8f7d4283-06fa-4345-bb5f-2a83e3d3b5db-00-1zafz9x58bohk.pike.replit.dev"

[userenv.shared]
PLATFORM_ADMIN_EMAILS = "udayid@gmail.com"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 120000
