modules = ["nodejs-18", "bash"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "GIT_CONFIG_NOSYSTEM=1 HOME=/tmp node pre-start.cjs && GIT_CONFIG_NOSYSTEM=1 HOME=/tmp CHOKIDAR_USEPOLLING=true CHOKIDAR_INTERVAL=3000 node --require ./polyfill-file.cjs /home/runner/workspace/node_modules/.pnpm/@remix-run+dev@2.17.4_@remix-run+react@2.17.4_react-dom@18.3.1_react@18.3.1__react@18.3.1_typ_4jd4lxzjjmj4drz3q7ktxlvcba/node_modules/@remix-run/dev/dist/cli.js vite:dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["bash", "-c", "node --require ./polyfill-file.cjs node_modules/.pnpm/wrangler@4.44.0_@cloudflare+workers-types@4.20251014.0/node_modules/wrangler/wrangler-dist/cli.js pages dev ./build/client --port 5000"]
build = ["bash", "-c", "node --require ./polyfill-file.cjs node_modules/.pnpm/@remix-run+dev@2.16.8_@remix-run+react@2.16.8_react-dom@18.3.1_react@18.3.1__react@18.3.1_typ_uozynh2jdinnz6binv6akofmd4/node_modules/@remix-run/dev/dist/cli.js vite:build"]
